dl {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	grid-gap: 0.5rem 2rem;
}

dt {
	grid-column: 1;
}

dd {
	margin: 0;
}

.important {
	color: #f34c4c;
}

#stocky-commands {
	text-shadow: 0 0.1em 0.2em #000;
}
